html, body{
    position:relative;
    width:100%;
    height:100%;
    margin:0;
}

.code-editable {
    background: #303030;
    color: #f1f1f1;
    padding: 10px 16px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 0 10px #000;
    box-shadow: inset 0 0 10px #000;
    margin: 20px;
    width: 90vw;
    overflow-y: scroll;
    overflow-x: scroll;
}

nav {
    color: white;
    padding: 20px;
}

pre {
    margin-left: 0.5vw;
}

.debug-row {
    margin-left: 30px;
}

.editor-row p {
    margin-left: 30px;
    margin-top: 10px;
}

.debug-row p {
    margin-top: 10px;
    margin-left: 30px;
    color: white;
}

.editor-row {
    margin-left: 30px;
}

#run-code {
    float: right;
    margin-right: 0.4vw;
    margin-bottom: 20px;
    background-color: #00FF7D;
    border: none;
}

#open-file-manager {
    cursor: pointer;
    margin-left: 10px;
}

#logo-name {
    margin-left: 30vw;
}

.container{
    position: relative;
    top:50px;
    left:45%;
}
.container1 {
    animation:fadeInUp 5s infinite;
}
.container2 {
    animation: fadeInDown 5s infinite;
}
.circle{
    position:absolute;
    display:block;
    border-radius:50%;
    border: 2px solid #C04CFD;
    transform-origin:50% 50%;
    transform-style:preserve-3d;
}

.circle1 {
    animation : rotate1 1s infinite linear;
    border-color : #A27035;
    height:100px;
    width:100px;
    margin:-50px;
}
.circle2 {
    animation : rotate2 1s infinite linear;
    border-color : #B88B4A;
    height:70px;
    width:70px;
    margin:-35px;
}
.circle3 {
    animation:rotate3 1s infinite linear;
    border-color : #DDCA7D;
    height:10px;
    width:10px;
    margin:-5px;
}

.color1 { color : #A27035; }
.color2 { color : #B88B4A; }
.color3 { color : #DDCA7D; }

@keyframes rotate1{
    0% { transform: rotateZ(20deg) rotateY(0deg) }
    100% { transform: rotateZ(100deg) rotateY(360deg) }
}
@keyframes rotate2{
    0% { transform: rotateZ(100deg) rotateX(0deg) }
    100% { transform: rotateZ(0deg) rotateX(360deg) }
}
@keyframes rotate3{
    0% { transform: rotateZ(100deg) rotateX(-360deg) }
    100% { transform: rotateZ(-360deg) rotateX(360deg) }
}
@keyframes fadeInUp{
    0% { opacity : 0; margin-top : 20px; }
    10% { opacity : 1; margin-top : 0px; }
    45% { opacity : 1; margin-top : 0px; }
    50% { opacity : 0; margin-top : 20px; }
    100% { opacity : 0; margin-top : 20px; }
}
@keyframes fadeInDown{
    0% { opacity : 0; margin-top : 0px; }
    10% { opacity : 1; margin-top : 20px; }
    45% { opacity : 1; margin-top : 20px; }
    50% { opacity : 0; margin-top : 0px; }
    100% { opacity : 0; margin-top : 0px; }
}
@keyframes fadeInDown2{
    0% { opacity : 0; margin-top : -100px; }
    55% { opacity : 0; margin-top : -100px; }
    60% { opacity : 1; margin-top : -50px; }
    90% { opacity : 1; margin-top : -50px; }
    100% { opacity : 0; margin-top : 0px; }
}
.f {
    font-size: 0.8em;
    position: fixed;
    top: 5px;
    right: 10px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color : #A27035;
}

.f a {
    color : #DDCA7D;
}

body{
    background-color: #FFFFFF !important;
    height: 100%;
    width: 100%;
}

.debug-row {
    background-color: #515151;
}

#sfdev-container{
    height: 83vh;
    overflow-y: scroll;
}

.space{
    margin: 20px;
}

#logo-name{
    color: whitesmoke;
}

#top-bar{
    background-color: #404040;
}

#loading-div{
    height: 300px;
}

#loading-div p{
    color: whitesmoke;
}

#sfdev-container div{
    min-width: 300px;
    width: 100%;
    margin-left: 1%;
    margin-right: 5%;
}

.inline{
    display: inline;
}

.little{
    font-size: 70%;
    color: #909090;
}

.result {
    border: solid 1px #333;
    z-index: -1;
    padding: 20px !important;
    height: 55vh;
}

#code-debugger{
    height: 15vh;
}

#widget-container{
    overflow-y: scroll;
}

.thumbnail{
    overflow-x: scroll;
}